@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  body {
    @apply w-screen h-screen bg-neutral-600 flex flex-col justify-center items-center text-neutral-50;
  }
}